# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*

# Node dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build outputs
frontend/dist/
frontend/dist-ssr/

# Environment files
.env
.env.local
.env.*.local
.env.example

# Dockerfiles and Compose configs
docker-compose.yml
rebuild.sh
update.sh

# Git
.git
.gitignore
